* {
  margin: 0%;
  padding: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(197, 221, 197);
}
main {
  height: 100%;
}
header {
  background-color: rgb(122, 163, 122);
  height: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header p {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
header button {
  border: 0px;
  width: 12%;
  height: 100%;
  font-weight: bold;
  font-size: 125%;
  background-color: rgb(122, 163, 122);
  transition: ease-in 0.2s;
}
header button:hover {
  background-color: rgb(98, 134, 98);
}
footer {
  width: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: rgb(122, 163, 122);
  height: 7%;
}
