main{
    background-color: rgb(197, 221, 197);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    width: 100%;
    background-color: rgb(163, 190, 163);
    padding: 1% 0% 1% 0%;
}
#creador{
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 2%;
    background-color: rgb(175, 207, 175);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin: 1%;
}
input{
    margin-bottom: 2%;
    width: 80%;
    height: 50px;
    transition: ease-in 0.3s;
}
input:hover, 
input:focus{
    border: 2px solid black;
    background-color: ivory;
}
select{
    margin-bottom: 2%;
    width: 50%;
}
#creador button{
    margin: 1% 0% 2% 75%;
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background-color:rgb(140, 168, 140);
    transition: ease-out .2s;
}
#creador button:hover{
    background-color: rgb(136, 190, 136) ;
}
