body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

header {
    width: 100%;
}

h2{
    text-align: center;
    width: 100%;
    background-color: rgb(163, 190, 163);
    padding: 1% 0% 1% 0%;
}
#formExamen input,
#formExamen select {
    margin: 1% 0% 0% 3%;
    width: 25%;
    border-radius: 5px;
    border: 1px solid gray
}

main {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 255, 241);
}

main p{
    margin-top: 3%;
}


#formExamen {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    margin-left: 5%;
}

#preguntas {
    height: 50%;
    border-radius: 20px;
    margin: 3% 0% 0% 0%;
    box-shadow: 1px 0px 20px 1px rgb(110, 141, 110);
    border: 1px solid white;
    background: linear-gradient(rgb(203, 241, 203), rgb(220, 245, 220), rgb(203, 241, 203));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table {
    width: 60%;
    height: 100%;
    background: linear-gradient(rgb(220, 245, 220), rgb(187, 230, 187), rgb(220, 245, 220));
}

table tr:first-of-type {
    font-size: 25px;
}
main img {
    width: 80%;
    height: 80%;
}
.error{
    margin: 0% 0% 0% 10%;
    width: 70%;
    height: 70%;
}
#preguntaAnterior,
#preguntaSiguiente {
    width: 7%;
    height: 18%;
    border-radius: 100%;
    box-shadow: 1px 0px 20px 1px rgb(110, 141, 110);
    font-size: 16px;
    border: none;
    background-color: rgb(155, 229, 155);
    margin: 0% 5% 0% 5%;
    transition: ease-in .1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#preguntaAnterior:hover,
#preguntaSiguiente:hover {
    background-color: rgb(128, 192, 128);
}
#preguntaAnterior:active,
#preguntaSiguiente:active{
    width: 6%;
    height: 17%;
}

#anadir,
#terminar {
    margin-top: 5%;
    border: 1px solid white;
    background: linear-gradient(rgb(203, 241, 203), rgb(220, 245, 220), rgb(187, 230, 187));
    box-shadow: 1px 0px 20px 1px rgb(110, 141, 110);
    border-radius: 10px;
    width: 20%;
    height: 8%;
    margin-left: 75%;
    transition: ease-in .2s;
}

#terminar {
    background: linear-gradient(rgb(205, 207, 169), rgb(176, 179, 130), rgb(205, 207, 169));
    ;
}

#anadir:hover {
    background: linear-gradient(rgb(166, 201, 166), rgb(134, 158, 134), rgb(166, 201, 166));
    box-shadow: 2px 1px 25px 3px rgb(84, 110, 84);
}

#terminar:hover {
    background: linear-gradient(rgb(214, 218, 125), rgb(149, 155, 82), rgb(214, 218, 125));
    ;
    box-shadow: 2px 1px 25px 3px rgb(84, 110, 84);
}
#anadir:active,
#terminar:active{
    width: 19%;
    height: 7%;
}