body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
}
main{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
#formExamen{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
input, select{
    width: 25%;
}
#preguntas {
    border: 1px solid black;
    margin: 15% 0% 0% 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 50%;
}
table{
    width: 65%;
}
table tr:first-of-type{
    font-size: 25px;
}
#preguntaAnterior, #preguntaSiguiente {
    width: 7%;
    height: 15%;
    border-radius: 100%;
    font-size: 16px;
    border: none;
    background-color: green;
    margin: 15% 5% 0% 5%;
}
#anadir{
    margin-top: 5%;
}