body{
    background-color: rgb(197, 221, 197);
}
main{
    flex: 1;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listadoCategorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main button{
    margin-left: 5%;
    
}
button{
    height: 150%;
    background-color: rgb(149, 194, 149);
    border: none;
    border-radius: 15px;
    transition: ease-in .3s;
}
button:hover{
    background-color: rgb(114, 148, 114) ;
}
table{
    margin-top: 1%;
    width: 20%;
    height: 50%;
    text-align: center;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    width: auto;
    height: 10%;
    text-align: center;
}
input{
    text-align: center;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    border-color: rgb(87, 119, 87);
    border: none;
}
.eliminar{
    width: 30px;
    height: 30px;
    background-color:rgb(175, 207, 175);
    border:  none;
    transition: ease-out .2s;

}
.eliminar:hover{
    background-color: rgb(136, 175, 136) ;
}
.eliminar img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
#save{
    margin: 1% 0% 0% 12%;
    width: 5%;
    height: 4.3%;
}

input:hover{
    font-weight: bold;
}