
div p{
    position: absolute;

}
#paneles{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#panelAdmin, #panelProf, #panelAlum{
    background-color: darkseagreen;
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    border: 0px;
    width: 20%;
    height: 100%;
}
