.toggle {
    background: #eee;
    width: 50px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
    margin: 25px;
  }
  
  label {
    width: 30px;
    height: 25px;
    background: red;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.25s ease 0s;
  }
  
  .check {
    display: none;
  }
  
  .check:checked + label {
    margin-left: 25px;
    background: green;
  }
  label {
   position: relative;
   z-index: 1;
  }