*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(197, 221, 197);
}
h2{
    text-align: center;
    background-color: rgb(163, 190, 163);
    padding: 1% 0% 1% 0%;
}
h3{
    width: 20%;
    text-align: center;
}
#renglon{
    display: flex;
    flex-direction: row;
}
.exito{
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}
#registro{
    background:  rgb(175, 207, 175);
}
table{
    width: 100%;
    align-items: center;
    text-align: center;
}
tr{
    border: 1px solid black;
}
td{
    border-top: 1px solid black;
    width: 20%;
    text-align: center;
}

#save{
    margin:  1% 0% 10% 88%;
    background-color: rgb(149, 194, 149);
    width: 5%;
    height: 5%;
    border: none;
    border-radius: 15px;
    transition: ease-in .3s;
}
#save:hover{
    background-color: rgb(114, 148, 114) ;
}
.eliminar{
    width: 30px;
    height: 30px;
    background-color:rgb(175, 207, 175);
    border:  none;
    transition: ease-out .2s;

}
.eliminar:hover{
    background-color: rgb(136, 175, 136) ;
}
.eliminar img{
    width: 25px;
}
input, select{
    text-align: center;
    width: 35%;
    height: 10%;
    border-radius: 10px;
    border-color: rgb(87, 119, 87);
    border: none;
}
