h2{
    text-align: center;
    width: 100%;
    background-color: rgb(163, 190, 163);
    padding: 1% 0% 1% 0%;
}
main{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main p{
    font: larger bolder;

}
.contenedorTabla{
    background-color: rgb(242, 255, 240);
}
.contenedorTabla {
    max-height: 100%; /* Aumenta la altura máxima */
    max-width: 80%; /* Aumenta el ancho máximo */
    width: 90%; /* Establece un ancho fijo si lo prefieres */
    height: 90%; /* Ajusta automáticamente según el contenido */
    overflow-y: auto; /* Habilita scroll vertical */
    overflow-x: auto; /* Habilita scroll horizontal si es necesario */
    border: 1px solid #ccc; /* Mantén el borde si lo necesitas */
    margin-top: 1rem; /* Espaciado con el contenido anterior */
}
.contenedorTabla img{
    width: 15%;
    height: 25%;
}
table{
    text-align: center;
    width: 100%;
}
th{
    font-size: larger;
    background-color: rgb(163, 190, 163);
}
table p{
   margin-top: 3%; 
}
table th, td{
    border: 1px solid black;
}